@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0% auto;
  min-height: 100svh;
  align-items: center;
  background-color: white;
  display: flex;
  color: black;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-between;
}

.bi-moon,
.bi-sun {
  font-size: 35px;
  position: relative;
  top: 35px;
  left: -140px;
}

.container-perfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid blueviolet;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #731dc4;
}

.paragrafo {
  font-size: 25px;
}

#links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
a {
  text-decoration: none;
  border: 1px solid #731dc4;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: #731dc4;
  font-weight: 600;
}

a:hover {
  background-color: #591697;
  color: white;
}
footer {
  color: #731dc4;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 769px) {
  a {
    width: 400px;
  }
}
